            body{
				margin: 0px;
				padding: 0px;
			}
			#bottom-box1ul li{
            	float: left;
            	font-size: 17px;
            	margin-top: 60px;
            	text-align: center;
            }
            .bottom-box1ul-li{
            	margin-left: 35px;
            }
             #img-li {
             	float: right;
             	margin-top: 0px;
            	padding: 0px;
            	margin: 0px;
            	width: 493px;
            	height: 128px;
            }
            #bottom-box3ul{
            	font-size: 12px;
            	margin-top: 19px;
            }
            #li-a-img img{
            	width: 115px;
            	height: 45px;
            	float: left;
            	margin-top: 8px;
            }
            .imgs{
            	margin-left: 30px;
            }
            #bottom-box{
				width:1510px;
				height: 420px;
				background: #2A2C37;
				color: #C4C4C4;
			}
			#bottom-box li{
				list-style: none;
			}
			.bottom-box{
				width:1510px;
				height: 140px;
				margin:auto;
				padding: 0px;
				border-bottom: 1px solid #515151;
			}
			#admin_a{
			  color:#FFFFFF;
			}