body{
				margin: 0px;
				padding: 0px;
			}
			#top-box{
				width: 1510px;
				height: 65px;
				background:#FCFCFC;
                border-bottom:2px solid #E6E6E6 ;
				margin: 0px;
				padding: 0px;
			}
			#top-box1{
				height: 65px;
				width: 470px;
				float: left;
				padding: 0px;	
				margin: 0px;
			}
			#top-box2{
				height: 65px;
				width: 873px;
				float: right;
				padding-top: 10px;
				
			}
			#top-ul li{
				list-style: none;
				margin-right: 54px;
				float: right;
				margin-top: 10px;
			}
			#top-ul a{
				text-decoration:none;
				font-size: 15px;
				font-family: "ºÚÌå";
				font-style: initial;
				font-weight: 500;
				color: #000000;
			}
			 #top-box11{
            	height: 57px;
            	width: 65%;
            	float: left;
            	padding-left: 50px;
            }
            #top-box12{
            	height: 57px;
            	width: 35%;
            	float: right;
            }
            .top-btn{
            	border: 0px;
            	margin-left: 20px;
            	margin-top: 10px;
            }
              #top_btn_box{
				width:720px;
				height: 260px;
				border: 2px solid #E6E6E6;
				display: none;
				position: absolute;
				top: 50px;
				left:330px;
				overflow-x: auto;
				overflow-y: auto;
				padding: 0px;
                margin: 0px;
                background: #F9F9F9;
			}
			#top_btn_box li{
				list-style: none;
				float: left;
				margin-right: 17px;
				height: 100%;
				font-size: 13px;
				color: ;
			}
			.first_li{
				width:30px;
				margin-left: 0px;
			}
			.citybox{
				width: 710px;
				height: 43px;
				padding: 0px;
				margin: 0px;
				border-bottom: 2px solid #E6E6E6;
			}
			.citybox1{
				width: 660px;
				height: 100%;
				float: right;
                background: #FAFAFA;
                padding-top: 16px;
			}
			.citybox1 a{
				text-decoration: none;
				font-family: "ºÚÌå";
				font-style: initial;
				font-weight: 500;
				color: #000000;
			}
			.citybox2{
				width: 43px;
				height: 100%;
				text-align: center;
				padding-top: 16px;
				font-size: 13px;
				margin-left: 12px;
				color:#C0C0C0;
			}
			#td_2_box3 a{
			   text-decoration: none;
			   margin-left:8px;
               font-size: 14px;
               margin-top: 11px;
               color: #000000;
			}
            #ul-1 a{
               margin-right:20px;
            }