#table-box{
				width: 440px;
				height: 530px;
				border: 1px solid #C4C4C4;
				margin: 25px auto;
			}
			.table-box-td1{
				width: 90px;
				text-align: center;
			}
			table{
				width:430px;
			    height:490px;
			    margin: 25px auto;
			}
			#top_btns{
				float: left;
				width:35px;
				height: 33px;
				margin-left: 0px;
			}
			#top_btn_box1{
				width:520px;
				height: 350px;
				border: 2px solid #E6E6E6;
				display: none;
				position: absolute;
				top: 5px;
				left:890px;
				overflow-x: auto;
				overflow-y: auto;
				padding: 0px;
                margin: 0px;
                background: #F9F9F9;
			}
			#top_btn_box1 li{
				list-style: none;
				float: left;
				margin-right: 17px;
				height: 100%;
				font-size: 13px;
				color: ;
			}
			.first_li{
				width:30px;
				margin-left: 0px;
			}
			.citybox{
				width: 710px;
				height: 43px;
				padding: 0px;
				margin: 0px;
				border-bottom: 2px solid #E6E6E6;
			}
			.citybox1{
				width: 660px;
				height: 100%;
				float: right;
                background: #FAFAFA;
                padding-top: 16px;
			}
			.citybox1 a{
				text-decoration: none;
				font-family: "ºÚÌå";
				font-style: initial;
				font-weight: 500;
				color: #000000;
			}
			.citybox2{
				width: 43px;
				height: 100%;
				text-align: center;
				padding-top: 16px;
				font-size: 13px;
				margin-left: 12px;
				color:#C0C0C0;
			}
			#submit{
				margin-left:90px;
				height: 40px;
				width: 100px;
				background-color: #FF9F26;
				color: #FFFFFF;
			}
			#reset{
				margin-left: 50px;
				height: 40px;
				width: 100px;
				background-color: #FF9F26;
				color: #FFFFFF;
			}