{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>推荐系统</title>
    <script type="text/javascript" src="{% static "js/jquery-1.11.0.js"%}" ></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}" ></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/firstPage.css' %}" >
    <script type="text/javascript" src="{% static 'js/jquery.raty.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript">

    var result;
    $(function(){

        $(".starts").raty({
            number : 5,//星星个数


            {#score :3,#}
            path : '{% static 'imgs' %}',//图片路径
            {#target : '#grade',//#}
            {#hints : ['0.5','1','1.5','2','2.5','3','3.5','4','4.5','5'],#}
            hints : ['不喜欢','不喜欢','一般','喜欢','推荐'],
            starHalf:'star-half-big.png',
            half:true,
            round:{down:.26,full:.7,up:.9},
            click : function(score, evt) {

                if((score<0.5)) result = 0.5;
                else if((score>0.51)&&(score<1.0)) result = 1.0;
                else if((score>1.1)&&(score<1.5)) result = 1.5;
                else if((score>1.5)&&(score<2)) result = 2.0;
                else if((score>2.0)&&(score<2.5)) result = 2.5;
                else if((score>2.5)&&(score<3.0)) result = 3.0;
                else if((score>3.0)&&(score<3.5)) result = 3.5;
                else if((score>3.5)&&(score<4.0)) result = 4.0;
                else if((score>4.0)&&(score<4.5)) result = 4.5;
                else  result = 5.0;

                $("#rating").val(result.toFixed(1));
                {#alert(result.toFixed(1));#}

            }
        });



    });
    $(document).ready(function(){
    $(".starts").click(function(){
        $("#imdbId").val(this.id);
        $("#userId").val({{ user.id}});
    {#alert(this.id);#}
  });
    $("#recommend1").click(function () {
        $("#userId2").val({{ user.id}});

    });
    $("#recommend2").click(function () {
        $("#userId3").val({{ user.id}});

    });
{#$("#103776").raty('set', { option: 3.0 });#}
});

    {#alert({{ user.id }})#}


</script>
</head>

<body>

<div class="container-fluid">

		<!-- 引入header.jsp -->
		<div class="container-fluid">
			<div class="col-md-4">
		   <a href="{% url "app:index" %}"><img id="top-box-img" src={% static "img/logo.png" %}></a>
			</div>
			<div class="col-md-5">
				<!--<img src="img/header.png" />-->
			</div>
			<div class="col-md-3" style="padding-top:20px">
			
				<ol class="list-inline">
				{% if user.username %}
    				<li><a role="button" class="btn btn-warning" href="#" >欢迎你::{{ user.username }}</a></li>
					<li><a role="button" class="btn btn-warning" href="{% url "app:logout"%}">退出登录</a></li>
                {% else %}
                    <li><a role="button" class="btn btn-warning" href="{% url "app:login" %}" >登录</a></li>
					<li><a role="button" class="btn btn-warning" href="{% url "app:register"%}">注册</a></li>
                {% endif %}
					
				</ol>
			</div>
		</div>
		<!-- 导航条 -->
		<div class="container-fluid">
			<nav class="navbar navbar-inverse" style="background-color: #FF9F1C">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="{% url "app:index" %}">首页</a>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav" id="categroyList">
							<li><a href="{% url "app:show_index" %}">选电影</a></li>
							<li><a href="#">排行榜</a></li>
{#							<li><a href="#">分类</a></li>#}
							<li><a href="#">影评</a></li>
						</ul>
						<form class="navbar-form navbar-right" role="search">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search">
							</div>
							<button type="submit" class="btn btn-default">Submit</button>
						</form>
					</div>
				</div>
			</nav>
</div>
<iframe id="id_iframe" name="nm_iframe" style="display:none;"></iframe>
<div>
<ul class="nav nav-tabs nav-justified">
	<li class="active"><a href="#tab0" data-toggle="tab">动作片</a></li>
	<li><a href="#tab1" data-toggle="tab">戏剧片</a></li>
	<li><a href="#tab2" data-toggle="tab">武打片</a></li>
	<li><a href="#" data-toggle="tab">恐怖片</a></li>
	<li><a href="#" data-toggle="tab">喜剧片</a></li>
	<li><a href="#" data-toggle="tab">爱情片</a></li>
</ul>
</div>

<div id="my-content" class="tab-content">
{#    第一类#}
    <div class="tab-pane fade in active" id="tab0">
        <ul class="figures_lists">
            <li class="list_item" data-trigger-class="list_item_hover">
                <a _boss="film" target="_blank" class="figure" tabindex="-1">
                    <img src="{% static 'imgs/action/103776.jpg' %}" alt="蝙蝠侠归来">
                </a>
                <strong class="figure_title">
                    <a _boss="film" href="http://www.imdb.com/title/tt0103776/" target="_blank" title="蝙蝠侠归来">蝙蝠侠归来(8.1分)</a>

                    <div class="evaluate">
                        <div class="starts" id="103776"></div>
                    </div>
                </strong>

            </li>
        </ul>
    </div>
{#    第二类#}
<div class="tab-pane fade" id="tab1">
        <ul class="figures_lists">
          <li class="list_item" data-trigger-class="list_item_hover">
    				<a _boss="film" target="_blank" class="figure" tabindex="-1">
    					<img src="{% static 'imgs/love/211915.jpg' %}" alt="天使爱美丽">
    				</a>
    				<strong class="figure_title">
    					<a _boss="film"  href="https://www.imdb.com/title/tt0211915/" target="_blank" title="天使爱美丽">天使爱美丽</a>
                        <div class="evaluate"><div class="starts" id = "211915"></div></div>
    				</strong>
		  </li>
        </ul>
</div>
{#    第三类#}
<div class="tab-pane fade" id="tab2">
        <ul class="figures_lists">
          <li class="list_item" data-trigger-class="list_item_hover">
            <a _boss="film" href="" target="_blank" class="figure" tabindex="-1">
              <img src="{% static 'imgs/thriller/81505.jpg' %}" alt="闪灵">
            </a>
            <strong class="figure_title">
                <a _boss="film" href="https://www.imdb.com/title/tt0081505/" target="_blank" title="闪灵">闪灵</a>
                <div class="evaluate"><div class="starts" id = "81505"></div></div>
            </strong>
          </li>
        </ul>

</div>

{# my_content 的div   #}
</div>



<iframe id="id_iframe" name="nm_iframe" style="display:none;"></iframe>
</div>
</body>
</html>