{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>首页</title>
<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css" />
<script src={% static "js/jquery-1.11.3.min.js" %} type="text/javascript"></script>
<script src={% static "js/bootstrap.min.js" %} type="text/javascript"></script>
</head>

<body>
        <div class="container-fluid">

		<!-- 引入header.jsp -->
		<div class="container-fluid">
			<div class="col-md-4">
		   <a href="{% url "app:index" %}"><img id="top-box-img" src={% static "img/logo.png" %}></a>
			</div>
			<div class="col-md-5">
				<!--<img src="img/header.png" />-->
			</div>
			<div class="col-md-3" style="padding-top:20px">

				<ol class="list-inline">
				{% if user.username %}
    				<li><a role="button" class="btn btn-warning" href="#" >欢迎你::{{ user.username }}</a></li>
					<li><a role="button" class="btn btn-warning" href="{% url "app:logout"%}">退出登录</a></li>
                {% else %}
                    <li><a role="button" class="btn btn-warning" href="{% url "app:login" %}" >登录</a></li>
					<li><a role="button" class="btn btn-warning" href="{% url "app:register"%}">注册</a></li>
                {% endif %}

				</ol>
			</div>
		</div>
		<!-- 导航条 -->
		<div class="container-fluid">
			<nav class="navbar navbar-inverse" style="background-color: #FF9F1C">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="{% url "app:index" %}">首页</a>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav" id="categroyList">
							<li><a href="{% url "app:show_index" %}" >电影分类</a></li>
							<li><a href="{% url 'app:your_score' %}">你的评过的电影</a></li>
							<li><a href="{% url 'app:show_recommend' %}">猜你喜欢</a></li>
{#							<li><a href="#">影评</a></li>#}
						</ul>
						<form action="{% url 'app:search' %}" method="post" class="navbar-form navbar-right" role="search">
							<div class="form-group">
								<input type="text" name="searchtext" class="form-control" placeholder="Search">
							</div>
							<button type="submit" class="btn btn-default">Submit</button>
						</form>
					</div>
				</div>
			</nav>
		</div>

		<!-- 轮播图 -->
		<div class="container-fluid">
			<div id="carousel-example-generic" class="carousel slide"
				data-ride="carousel">
				<!-- 轮播图的中的小点 -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0"
						class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				</ol>
				<!-- 轮播图的轮播图片 -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="{% static "img/1.jpg" %}">
						<div class="carousel-caption">
							<!-- 轮播图上的文字 -->
						</div>
					</div>
					<div class="item">
						<img src="{% static "img/2.jpg" %}">
						<div class="carousel-caption">
							<!-- 轮播图上的文字 -->
						</div>
					</div>
					<div class="item">
						<img src="{% static "img/3.jpg" %}">
						<div class="carousel-caption">
							<!-- 轮播图上的文字 -->
						</div>
					</div>
					<div class="item">
						<img src="{% static "img/4.jpg" %}">
						<div class="carousel-caption">
							<!-- 轮播图上的文字 -->
						</div>
					</div>
				</div>

				<!-- 上一张 下一张按钮 -->
				<a class="left carousel-control" href="#carousel-example-generic"
					role="button" data-slide="prev"> <span
					class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a> <a class="right carousel-control" href="#carousel-example-generic"
					role="button" data-slide="next"> <span
					class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>

		<!-- 热门商品 -->
		<div class="container-fluid">
			<div class="col-md-12">
				<h2>
					热门电影&nbsp;&nbsp;<img src="{% static "img/title2.jpg" %}" />
				</h2>
			</div>
			<div class="col-md-2"
				style="border: 1px solid #E7E7E7; border-right: 0; padding: 0;">
				<img src="{% static "img/big02.jpg" %}" width="205" height="404"
					style="display: inline-block;" />
			</div>
			<div class="col-md-10">
					<div class="col-md-2"
						style="text-align: center; height: 200px; padding: 10px 0px;">
						<a href="product_info.html"> 
							<img src="{% static "images/1.jpg" %}" width="130" height="130" style="display: inline-block;">
						</a>
						<p>
							<a href="product_info.html" style='color: #666'>特警队</a>
						</p>
						<p>
							<font color="#E4393C" style="font-size: 16px">评分指数：4星</font>
						</p>
					</div>
					<div class="col-md-2"
						style="text-align: center; height: 200px; padding: 10px 0px;">
						<a href="product_info.html"> 
							<img src="{% static "images/2.jpg" %}" width="130" height="130" style="display: inline-block;">
						</a>
						<p>
							<a href="product_info.html" style='color: #666'>少年的你</a>
						</p>
						<p>
							<font color="#E4393C" style="font-size: 16px">评分指数：4星</font>
						</p>
					</div>
					<div class="col-md-2"
						style="text-align: center; height: 200px; padding: 10px 0px;">
						<a href="product_info.html"> 
							<img src="{% static "images/3.jpg" %}" width="130" height="130" style="display: inline-block;">
						</a>
						<p>
							<a href="product_info.html" style='color: #666'>流浪地球</a>
						</p>
						<p>
							<font color="#E4393C" style="font-size: 16px">评分指数：3星</font>
						</p>
					</div>
			</div>
		</div>


		<!-- 引入footer -->
		<div class="container-fluid">
			

			
			<div style="text-align: center;margin-top: 5px;margin-bottom:20px;">
				Copyright © 2019-2020 大数据专业 All Rights Reserved 版权所有  中北大学   联系电话：1707-0541-0542
			</div>
		</div>
        </div>
</body>

</html>